<app-topo></app-topo>
<div *ngIf="jogoEmAndamento; else fimDeJogo">
    <app-painel (encerraJogo)="encerraJogo($event)"></app-painel>
</div>

<ng-template  #fimDeJogo >
    <div *ngIf="tipoEncenrramento === 'derrota'; else fimDeJogoVitoria" class="container">
        <div class="row">
            <div class="col">
                <h3 class="derrota">Fim dejogo. Você perdeu</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class=" btn btn-primary" (click)="reinicarJogo">Jogar Novamente</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template  #fimDeJogoVitoria >
    <div  class="container">
        <div class="row">
            <div class="col">
                <h3 class="vitoria">Fim dejogo. Você Ganhou</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class=" btn btn-primary" (click)="reinicarJogo">Jogar Novamente</button>
            </div>
        </div>
    </div>
</ng-template>